/* 
HEADINGS FONT: font-family: 'Playfair Display', serif;
CONTENT FONT: font-family: 'Arimo', sans-serif;
Main Colors: slategray, lightslategray;
Accent Colors: turquoise, mediumturquoise, ghostwhite;
*/

@import url('https://fonts.googleapis.com/css?family=Arimo|Playfair+Display:400,900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

h1, h3, h5 {
  font-family: 'Playfair Display', serif;
}

.heading {
  font-size: 3.5em;
}

.sub-heading{
  font-size: 2.5em;
}
.content{
  font-family: 'Arimo', sans-serif;
  margin: 5px;
  padding: 2px;
  font-size: 2em;
}

.list {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
}
